<h1>Ratings</h1>
<% cache 'ratings', expires_in:10.minutes do%>
<p>Number of ratings: <%= Rating.count %> </p>

<div class="row">
  <div class="col-sm-9">
    <h3>Recent ratings</h3>
    <ul class="list-group">
        <% @recent_ratings.each do |rating| %>
            <li class="list-group-item"> <%= rating %>  <%= link_to rating.user.username, user_path(rating.user)%></li>
        <% end %>
    </ul>
    <div class ="row">
      <div class="col-xs-8 col-sm-6">
        <h3>Top beers</h3>
        <ul class="list-group">
          <% @best_beers.each do |beer| %>
              <li class="list-group-item"> <%= link_to beer.name, beer_path(beer)%>, average rating <%= round beer.average_rating%></li>
          <% end %>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-6">
        <h3>Top breweries</h3>
        <ul class="list-group">
          <% @best_breweries.each do |brewery| %>
              <li class="list-group-item"> <%= link_to brewery.name, brewery_path(brewery)%>, average rating <%= round brewery.average_rating%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class ="row">
      <div class="col-xs-8 col-sm-6">
        <h3>Top styles</h3>
        <ul class="list-group">
          <% @best_styles.each do |style| %>
              <li class="list-group-item"> <%= link_to style.name, style_path(style)%>, average rating <%= round style.average_rating%></li>
          <% end %>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-6">
        <h3>Top raters</h3>
        <ul class="list-group">
          <% @top_raters.each do |user| %>
              <li class="list-group-item"> <%= link_to user.username, user_path(user)%>, <%= user.ratings.count%> beers rated</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if not current_user.nil?%>
<%= link_to 'New rating', new_rating_path,class:"btn btn-primary"%>
<% end%>