<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>

<% if @places %>
    <table>
      <thead>
          <td>name</td>
          <td>status</td>
          <td>street</td>
      </thead>
      <% @places.each do |place| %>
          <tr>
             <td><%= link_to place.send('name'), places_path+"/"+(place.send('id')) %></td>
             <td><%= place.send('status') %></td>
             <td><%= place.send('street') %></td>
          </tr>
      <% end %>
    </table>
<% end %>